<!DOCTYPE html>
<html style="height: 100%">
	<head>
		<title>tini</title>
	</head>
	<body
		onresize="adjustScreen()"
		style="
			height: 100%;
			margin: 0;
			overflow: hidden;
			background: #eeeeee;
			font-family: monospace;
		"
	>
		<div
			id="background"
			style="position: absolute; background: #ffffff"
		></div>
		<canvas id="levelLayer" style="position: absolute"></canvas>
		<canvas
			id="playerLayer"
			style="position: absolute; pointer-events: none"
		></canvas>
		<div style="position: absolute; background: #ffffff88">
			<span id="info">
				[INFO]<br />
				Width: <span id="lvlWidth">50</span><br />
				Height: <span id="lvlHeight">50</span><br />
				Mouse Position: <span id="mousePos"></span><br />
				Room: <span id="room">???</span><br /><br />
			</span>
			<span id="control">
				[CONTROL]<br />
				LMB & RMB: Place block<br />
				[shift] + LMB or RMB: Move player to cursor<br />
				[ctrl] + LMB & Drag: Move the level (defocuses player)<br />
				[ctrl] + RMB: Refocus on player<br />
				MMB: Select block clicked for LMB<br />
				[shift] + MMB: Select block clicked for RMB<br />
				[alt] + LMB: Edit block property (if any)<br />
				<!-- [shift] + [delete]: Clear level<br> -->
				[R]: Respawn from last checkpoint<br />
				[shift] + [R]: Restart from startpoint<br />
				[G]: Toggle god mode (no-death + inf jump)<br />
				[N]: Toggle noclip<br />
				[I]: Toggle info display<br />
				[C]: Toggle control display<br />
				[B]: Toggle block selection<br />
				[T]: Toggle chat<br />
				[E]: Export level data<br />
				[shift] + [E]: Import level data<br />
				[V]: Visit another room<br />
				[Enter]: Focus message input
			</span>
		</div>
		<div
			id="blockSelect"
			style="
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 20%;
				display: flex;
				overflow-x: scroll;
				text-align: center;
				background: #ffffff88;
			"
		></div>
		<div
			id="chat"
			style="
				position: absolute;
				top: 0;
				right: 0;
				width: 450px;
				height: 300px;
				background: #ffffff88;
				overflow-y: scroll;
				overflow-x: auto;
				word-wrap: normal;
			"
		>
			<div style="position: relative; min-height: 100%">
				<div style="padding-bottom: 20px">
					<p v-for="msg in history">{{ msg }}</p>
				</div>
				<input
					type="text"
					style="
						position: absolute;
						bottom: 0;
						width: 427px;
						height: 20px;
					"
					placeholder="Send a message..."
					id="input"
					v-model="typing"
				/>
			</div>
		</div>
		<div
			id="textBlockText"
			style="
				position: absolute;
				background: #00000088;
				color: #ffffff;
				display: none;
				transform: translate(-50%, -50%);
				white-space: pre-wrap;
			"
		></div>
		<div
			id="tooltip"
			style="
				position: absolute;
				background: #00000088;
				color: #ffffff;
				display: none;
				white-space: pre-wrap;
			"
		></div>
		<div
			id="editProperty"
			style="
				position: absolute;
				background: #00000088;
				color: #ffffff;
				display: none;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			"
		></div>
		<textarea
			style="
				opacity: 0.01;
				height: 0;
				position: absolute;
				z-index: -1;
				display: none;
			"
			id="exportArea"
		>
export text</textarea
		>
	</body>
	<script src="https://unpkg.com/vue"></script>
	<script src="main.js"></script>
	<script src="resize.js"></script>
	<script src="chat.js"></script>
	<script src="ws.js"></script>
</html>
